<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1">Eat burgers</h1>
    </div>
  </div>
  <br><br>
  
  <div class="row">
    <div class="col-12 col-md-6">
      <h3>Available Burgers</h3>
      <ul class="list-group">
      {{#each burgers}}
        {{#unless devoured}}
          <li class="list-group-item">
            {{id}}. {{name}} 
            <button value="{{id}}" 
              class="btn btn-secondary devour-btn float-right"
              data-toggle="modal" data-target="#modal">
              Devour it
            </button>
          </li>
        {{/unless}}
      {{/each}}
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <h3>Devoured Burgers</h3>
      <ul class="list-group">
      {{#each burgers}}
        {{#if devoured}}
          <li class="list-group-item disabled">
            {{id}}. {{name}} 
            {{#if Customer.name}} 
              (Eaten by {{Customer.name}})
            {{/if}}
          </li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
  </div>
  <br><br>
  
  <div class="row justify-content-center">
    <div class="col-6">
      <form id="form-add-burger">
        <div class="form-group">
          {{!-- <label for="burger-name-input">Name</label>
          <input type="input" class="form-control" id="name-input" required="required">
          <label for="burger-name-input">Burger</label> --}}
          <input type="input" class="form-control" id="burger-name-input" required="required">
          <small class="form-text text-muted">Enter a burger you want then click the submit button</small>
        </div>
        <button type="submit" id="add-burger-btn" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
  {{!-- Modal --}}

  <div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Who are you?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form-eat-burger">
          <div class="modal-body">
            <input type="input" id="name-input" name="name-input" class="form-control" required="required">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="submit-name-btn" class="btn btn-primary">
              Eat burger
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{{#section 'script'}}
<script src="/public/index.js" type="text/javascript"></script>
{{/section}}